[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
app-store-web-scraper = "*"
asyncpraw = "*"
beautifulsoup4 = "*"
boto3 = "*"
diskcache = "*"
eli5 = "*"
google = "*"
google-api-python-client = "*"
google-play-scraper = "*"
haralyzer = "*"
Jinja2 = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
loguru = "*"
markdown = "*"
markdownify = "*"
newspaper4k = "*"
numpy = "*"
pandas = "*"
pyairtable = "*"
python-dotenv = "*"
pytz = "*"
requests-cache = "*"
scikit-learn = "*"
scipy = "*"
scrapfly-sdk = {extras = ["all"]}
spacy = "*"

[dev-packages]
black = "*"
diagrams = "*"
ipykernel = "*"
jupyter = "*"
pipenv-check = "*"
pytest = "*"
vulture = "*"

[requires]
python_version = "3.10"

[scripts]
check-dependencies = "pipenv-check"
find-dead-code = "vulture --ignore-names 'test_*' src/"
