[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
google = "*"
spacy = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
python-dotenv = "*"
markdown = "*"
Jinja2 = "*"
loguru = "*"
scrapfly-sdk = {extras = ["all"]}
google-api-python-client = "*"
markdownify = "*"
requests-cache = "*"
pytz = "*"
newspaper4k = "*"
app-store-web-scraper = "*"
google-play-scraper = "*"
diskcache = "*"
boto3 = "*"
scipy = "*"
numpy = "*"
scikit-learn = "*"
eli5 = "*"
pandas = "*"
pyairtable = "*"
haralyzer = "*"
asyncpraw = "*"

[dev-packages]
jupyter = "*"
ipykernel = "*"
diagrams = "*"
pytest = "*"
pipenv-check = "*"
vulture = "*"

[requires]
python_version = "3.10"

[scripts]
check-dependencies = "pipenv-check"
find-dead-code = "vulture --ignore-names 'test_*' src/"
