<html>

<head>
    <meta charset="UTF-8">
    
    <title>{{title}}</title>

    <!-- materialize css dependencies -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        li {
            margin-bottom: 10px;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        footer.page-footer {
            padding-top: 0px;
        }
    </style>
</head>

<body class="indigo lighten-4">

    <main>
    <div class="container">

        {% block body %}
        {{content}}
        {% endblock %}

    </div>
    </main>

    <footer class="page-footer indigo darken-4">
        <div class="footer-copyright">
            <div class="container">
                Company Detective beta

                <!-- Elements on the right -->
                <span class="grey-text text-lighten-4 right">
                    <a class="grey-text text-lighten-4" href="https://airtable.com/appxVirwyt5V40t5S/pagNm9yaY2jkeoHTk/form" target="_blank">
                        <span>Add a company</span>
                        <i class="tiny material-icons">open_in_new</i>
                    </a> |
                    <a class="grey-text text-lighten-4" href="https://github.com/ktrnka/company-detective" target="_blank">
                        <span>Github</span>
                        <i class="tiny material-icons">open_in_new</i>
                    </a>
                </span>
            </div>
        </div>
    </footer>

    <!-- materialize css dependencies -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% block scripts %}
    {% endblock %}

</body>

</html>