{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            {{summary}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            {{employee_experience_summary}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h1>Customer experience</h1>
            {{customer_experience_summary}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h1>General search results</h1>
            {{general_search_summary}}
        </div>
    </div>
</div>

<!-- 

The markdown, as a guide

{self.summary_markdown}

# Employee sentiment

{nest_markdown(self.glassdoor_markdown, 1)}

# Customer experience
{nest_markdown(self.customer_experience_markdown, 1)}

{generate_lineage_markdown()}

----

# INTERMEDIATE RESULTS BELOW
Note: The report above is an aggregation of all the information below. I like to include the intermediate outputs below for debugging and verification. For instance, if the final output has a very brief section on employee sentiment, I can refer to the Glassdoor and Reddit sections below to see if it's a problem in the overall summarization or if the intermediate results were lacking.

----

# Company webpage
{nest_markdown(self.webpage_result.summary_markdown, 1)}

----

# News
{nest_markdown(self.news_result.summary_markdown, 1)}

----

# Crunchbase

{nest_markdown(self.crunchbase_markdown or "No Crunchbase info found", 1)}

----

# Additional search results
{nest_markdown(self.general_search_markdown, 1)}


 -->




<!-- ALL THE MODALS -->
{% for div_id, review in div_ids_to_reviews.items() %}
<div id="{{div_id}}" class="modal">
    <div class="modal-content">
      <h4>{{review.header}}</h4>
      <p>{{review.body}}</p>
    </div>
  </div>
{% endfor %}

{% endblock %}

{% block scripts %}
<script>
    var linkToDivId = {{urls_to_div_ids|tojson}};

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});

        var links = document.getElementsByTagName('a');

        for (var i = 0; i < links.length; i++) {
            links[i].addEventListener('click', function(event) {
                var url = event.target.href;
                if (url in linkToDivId) {
                    event.preventDefault();

                    M.Modal.getInstance(document.getElementById(linkToDivId[url])).open();
                }
            });
        }
    });
</script>
{% endblock %}