{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col s12">
        <div class="card-panel">
        {{summary}}

        {%if result.target.domain %}
        <hr/>
        <div class="card-cta">
            Visit the <a href="https://{{ result.target.domain }}">the company's website</a>.
        </div>
        {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
        {{employee_experience_summary}}

        {% if result.glassdoor_result %}
        <hr/>
        <div class="card-cta">
            Read all {{ result.glassdoor_result.num_raw_reviews }} reviews on {{ result.glassdoor_result.html_link }}.
        </div>
        {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
        <h1>Customer experience</h1>
        {{customer_experience_summary}}

        {% if result.customer_experience_result and result.customer_experience_result.sources %}
        <hr/>
        <div class="card-cta">
            Sources: {{ result.customer_experience_result.sources.to_html()}}
        </div>
        {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h1>General search results</h1>
            {{general_search_summary}}
        </div>
    </div>
</div>


<!-- ALL THE MODALS -->
{% for div_id, review in div_ids_to_reviews.items() %}
<div id="{{div_id}}" class="modal">
    <div class="modal-content">
      <h4>{{review.header}}</h4>
      <p>{{review.body}}</p>
    </div>
  </div>
{% endfor %}

{% endblock %}

{% block scripts %}
<script>
    var linkToDivId = {{urls_to_div_ids|tojson}};

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});

        var links = document.getElementsByTagName('a');

        for (var i = 0; i < links.length; i++) {
            links[i].addEventListener('click', function(event) {
                var url = event.target.href;
                if (url in linkToDivId) {
                    event.preventDefault();

                    M.Modal.getInstance(document.getElementById(linkToDivId[url])).open();
                }
            });
        }
    });
</script>
{% endblock %}