{% macro render_link(comment_id) %}
{% if permalinks %}
<a href="https://reddit.com/{{ permalinks[comment_id] }}">{{ comment_id }}</a>
{% else %}
{{ comment_id }}
{% endif %}
{% endmacro %}

{% macro render_claims(claims) -%}
{% if claims %}
<ul>
    {% for claim in claims %}
    <li>"{{ claim.quote }}" (source: {{ render_link(claim.comment_id) }})</li>
    {% endfor %}
</ul>
{% else %}
<p>No information found.</p>
{% endif %}
{% endmacro %}

<html>

<head>
    <title></title>

    <!-- materialize css dependencies -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        li {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <div class="container">


        <h1>Summary of Reddit for {{reddit_summary.overall_summary.target.company}} / {{reddit_summary.overall_summary.target.product}}</h1>

        <p>
            {{reddit_summary.overall_summary.summary_result.thread_summary}}
        </p>

        <h2>User Experience</h2>

        <h3>Strengths</h3>

        {{ render_claims(reddit_summary.overall_summary.summary_result.user_experience_strengths) }}

        <h3>Weaknesses</h3>

        {{ render_claims(reddit_summary.overall_summary.summary_result.user_experience_weaknesses) }}

        <h2>Employee Experience</h2>

        <h3>Strengths</h3>
        {{ render_claims(reddit_summary.overall_summary.summary_result.employee_experience_strengths) }}

        <h3>Weaknesses</h3>
        {{ render_claims(reddit_summary.overall_summary.summary_result.employee_experience_weaknesses) }}

        <h2>Investor Perspective</h2>
        {{ render_claims(reddit_summary.overall_summary.summary_result.investor_perspective) }}

        <h2>Sources</h2>

        <h3>Search Results</h3>
        <ul>
        {% for source in reddit_summary.sources %}
            <li>
                <a href="{{source.link}}">{{ source.title }}</a><br/>
                {{ source.snippet }}
            </li>
        {% endfor %}
        </ul>

        <h3>Processed threads</h3>
        <ul>
        {% for thread_result in reddit_summary.summaries %}
            <li>
                <a href="{{thread_result.submission.permalink}}">{{ thread_result.submission.title }}</a><br/>
            </li>
        {% endfor %}
        </ul>
        <p>Note: We process fewer threads than the search results mainly to save OpenAI costs. Sometimes we also filter search results if there aren't enough comments, or if we detect significant hallucination in the LLM summary of the individual thread.</p>

    </div>

    <!-- materialize css dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>